[submodule "home/.vim/core-upstream/autoload/vim-pathogen"]
	path = home/.vim/core-upstream/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/core-upstream/bundle/ack.vim"]
	path = home/.vim/core-upstream/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/core-upstream/bundle/argtextobj.vim"]
	path = home/.vim/core-upstream/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "home/.vim/core-upstream/bundle/autocomplpop.vim"]
	path = home/.vim/core-upstream/bundle/autocomplpop.vim
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "home/.vim/core-upstream/bundle/autocorrect.vim"]
	path = home/.vim/core-upstream/bundle/autocorrect.vim
	url = https://github.com/vim-scripts/autocorrect.vim.git
[submodule "home/.vim/core-upstream/bundle/browser-refresh.vim"]
	path = home/.vim/core-upstream/bundle/browser-refresh.vim
	url = https://github.com/mkitt/browser-refresh.vim.git
[submodule "home/.vim/core-upstream/bundle/bufkill.vim"]
	path = home/.vim/core-upstream/bundle/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "home/.vim/core-upstream/bundle/camelcasemotion"]
	path = home/.vim/core-upstream/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "home/.vim/core-upstream/bundle/cocoa.vim"]
	path = home/.vim/core-upstream/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "home/.vim/core-upstream/bundle/colorsel.vim"]
	path = home/.vim/core-upstream/bundle/colorsel.vim
	url = https://github.com/vim-scripts/colorsel.vim.git
[submodule "home/.vim/core-upstream/bundle/gist-vim"]
	path = home/.vim/core-upstream/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "home/.vim/core-upstream/bundle/gundo"]
	path = home/.vim/core-upstream/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "home/.vim/core-upstream/bundle/html-autoclose.vim"]
	path = home/.vim/core-upstream/bundle/html-autoclose.vim
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "home/.vim/core-upstream/bundle/indexed-search.vim"]
	path = home/.vim/core-upstream/bundle/indexed-search.vim
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "home/.vim/core-upstream/bundle/jade.vim"]
	path = home/.vim/core-upstream/bundle/jade.vim
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "home/.vim/core-upstream/bundle/lustyjuggler"]
	path = home/.vim/core-upstream/bundle/lustyjuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "home/.vim/core-upstream/bundle/markdown-preview.vim"]
	path = home/.vim/core-upstream/bundle/markdown-preview.vim
	url = https://github.com/mkitt/markdown-preview.vim.git
[submodule "home/.vim/core-upstream/bundle/nerdcommenter"]
	path = home/.vim/core-upstream/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/core-upstream/bundle/nerdtree"]
	path = home/.vim/core-upstream/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/core-upstream/bundle/processing.vim"]
	path = home/.vim/core-upstream/bundle/processing.vim
	url = https://github.com/vim-scripts/Processing.git
[submodule "home/.vim/core-upstream/bundle/syntastic"]
	path = home/.vim/core-upstream/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/core-upstream/bundle/tabular"]
	path = home/.vim/core-upstream/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/core-upstream/bundle/tailminusf"]
	path = home/.vim/core-upstream/bundle/tailminusf
	url = https://github.com/vim-scripts/TailMinusF.git
[submodule "home/.vim/core-upstream/bundle/vim-fugitive"]
	path = home/.vim/core-upstream/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/core-upstream/bundle/vim-haml"]
	path = home/.vim/core-upstream/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "home/.vim/core-upstream/bundle/vim-javascript"]
	path = home/.vim/core-upstream/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/core-upstream/bundle/vim-markdown"]
	path = home/.vim/core-upstream/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/core-upstream/bundle/vim-ragtag"]
	path = home/.vim/core-upstream/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "home/.vim/core-upstream/bundle/vim-rails"]
	path = home/.vim/core-upstream/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/core-upstream/bundle/vim-repeat"]
	path = home/.vim/core-upstream/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/core-upstream/bundle/vim-ruby"]
	path = home/.vim/core-upstream/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/core-upstream/bundle/vim-speeddating"]
	path = home/.vim/core-upstream/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "home/.vim/core-upstream/bundle/vim-surround"]
	path = home/.vim/core-upstream/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/core-upstream/bundle/vim-unimpaired"]
	path = home/.vim/core-upstream/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/core-upstream/bundle/yankring"]
	path = home/.vim/core-upstream/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "home/.vim/core-upstream/bundle/delimitMate"]
	path = home/.vim/core-upstream/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/core-upstream/bundle/supertab"]
	path = home/.vim/core-upstream/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/core-upstream/bundle/clang_complete"]
	path = home/.vim/core-upstream/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "home/.vim/core-upstream/bundle/vim-stylus"]
	path = home/.vim/core-upstream/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "home/.vim/core-upstream/bundle/vim-coffee-script"]
	path = home/.vim/core-upstream/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/core-upstream/bundle/vim-json"]
	path = home/.vim/core-upstream/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/core-upstream/bundle/vim-colorscheme-switcher"]
	path = home/.vim/core-upstream/bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "home/.vim/core-upstream/bundle/vim-misc"]
	path = home/.vim/core-upstream/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "home/.vim/core-upstream/bundle/ultisnips"]
	path = home/.vim/core-upstream/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
